@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&family=Lexend+Deca:wght@100;200;300;400;500;600;700&family=Montserrat:wght@400;700&family=Mulish:wght@300&family=Poppins:wght@300;400;600&family=Urbanist:wght@300;400;600;700;800;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Urbanist", sans-serif;
}

:root {
    --bs-dark-color: #1a1d20;
    --bs-dark-primary: #1c1c1c;
    --bs-main-color: #fff;
    --bs-primary-color: #c6c6c6;
    --bs-secondary-color: #29a9fd;
    --bs-supporting-color: #C850C0;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Lexend Deca', sans-serif;
    color: var(--bs-dark-color);
}

h1 {
    font-size: 3.8rem;
}

h2 {
    line-height: 3.5rem;
    font-weight: 600;
    font-size: 3.4rem;
    color: var(--bs-dark-color);
    letter-spacing: 0.01rem!important;
}

.common-heading{
    font-size: 2.8rem;
    font-weight: 500;
    letter-spacing: 0.01rem!important;
    color: var(--bs-main-color)
}

p {
    font-size: 1rem;
    font-weight: 400;
    margin: 0px;
    line-height: 1.55rem;
    color: var(--bs-dark-color);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    letter-spacing: 0.07rem;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

button,
a {
    word-spacing: 0.1rem;
    letter-spacing: 0.03rem;
    font-size: 1.12rem !important;
}

/* navbar style */

.nav-link {
    color: var(--bs-main-color);
    font-weight: bolder;
}

.nav-link:hover {
    color: var(--bs-secondary-color);
}

.text-light-grey{
    color:var(--bs-primary-color);
}

.common-section-padding{
    padding: 6rem 0 3rem 0!important;
}

/* Hero Section Start */
.bg-main {
    height: 60vh;
    position: relative;
}

.bg-color {
    background-color: var(--bs-dark-primary);
}

/* .bg-theme {
    
color: var(--bs-supporting-color);
background-image: none !important;
} */


.hero-section .container {
    display: grid;
    place-content: center;
    height: inherit;
}

.hero-video--section {
    border-radius: 2rem;
    width: 38rem;
}

/* Hero Section End */
/*shape divider start */

.custom-shape-divider-bottom-1684208460 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1684208460 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1684208460 .shape-fill {
    fill: var( --bs-main-color);
}

/*shape divider end */

/* SERVICE SECTION START */


.icon-span{
    height: 2.5rem;
    width: 2.5rem;
    color: var(--bs-main-color);
    background-color: var(--bs-secondary-color);

}

.card-box:hover{
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}
/* SERVICE SECTION END */

/* digital product showcase  */

.more-info-section{
    background-image: linear-gradient(rgba(22,22,22,0.6), rgba(22,22,22,0.6)), url("https://images.pexels.com/photos/316093/pexels-photo-316093.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    /* padding: 6rem 0; */
}

.more-info-section .img-section{
    position: relative;
}


/* digital product showcase end  */